.userMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userMenu__text {
  width: 310px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(132, 149, 223);
}

.link:is(:hover, :focus) {
  background-color: #677ee2;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
